---
const { content } = Astro.props;
const { title, first_button } = content;
---

<div
    id="contact"
    class="lg:mb-[15vh] lazy-section relative container-contact w-screen h-screen p-[5vh] justify-center flex flex-col place-items-center mb-[30vh]"
>
    <h1
        class="2xl:text-[6rem] lg:text-[2.5rem] text-center my-[1vh] text-white font-bold text-[4rem]"
    >
        {title.toUpperCase()}
    </h1>

    <article
        class="lg:flex lg:place-items-center lg:flex-col lg:bg-transparent my-[1vh] w-fit mx-auto h-fit p-[1vh] rounded-full"
    >
        <a target="_blank" href="https://api.whatsapp.com/send/?phone=3417506932&text&type=phone_number&app_absent=0">
            <button
                class="2xl:px-[3vw] 2xl:text-[1rem] font-semibold transition duration-200 hover:bg-[#08c199] py-[2vh] px-[3vh] first-button text-[.8rem] m-0 bg-primary rounded-[2px] text-black"
                >{first_button}</button
            >
        </a>
    </article>
</div>

<style>
    .container-contact {
        background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
            url(../../images/contact/bgcontact.webp);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .first-button {
        box-shadow: 0px 0px 100px #026353;
    }
    .first-button:hover {
        box-shadow: 0px 0px 200px #08c199;
    }
    .container-contact::before {
        content: "";
        position: absolute;
        height: 100%;
        pointer-events: none;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        background: linear-gradient(black, transparent, transparent,transparent, black);
    }
</style>
