<div
    id="footer"
    class="border-t-1 border-[#252525] flex justify-between w-screen px-[15vw] py-[7vh] h-fit bg-[#161616] text-[#eee]"
>
    <article>
        <h3 class="text-white font-bold text-[1rem]">Categorías</h3>
        <ul>
            <li>Inicio</li>
            <li>Tipos de aplicaciones</li>
            <li>Beneficios</li>
            <li>Trabajos</li>
            <li>Profesionales</li>
            <li>Contacto</li>
        </ul>
    </article>
    <article class="center">
        <h3 class="text-center text-white font-bold text-[1rem]">
            Contáctanos
        </h3>
        <ul>
            <li>
                <i class="fa-brands fa-whatsapp pr-[.5vw]"></i>+54 9 3417506932
            </li>
            <li>
                <i class="fa-brands fa-instagram pr-[.5vw]"></i>pulsetech.dev
            </li>
            <li>
                <i class="fa-regular fa-envelope pr-[.5vw]"
                ></i>pulsetech@hotmail.com
            </li>
        </ul>
    </article>
    <article class="last">
        <h3 class="text-white font-bold text-[1rem] text-right">
            Síguenos en Instagram
        </h3>
        <a
            href="#"
            class="ml-auto bg-[#009d7e] hover:bg-[#68edc7] hover:text-black w-[3vw] cursor-pointer transition duration-200 flex justify-center rounded-full place-items-center h-[3vw]"
        >
            <i class="fa-brands fa-instagram"></i>
        </a>
    </article>
</div>

<style>
    h3 {
        margin-bottom: 2vh;
    }
    li {
        font-size: 0.7rem;
        color: #ccc;
        margin-bottom: 1vh;
    }
    .last li {
        text-align: right;
    }
</style>
