<a href="/">
    <div id="logo" class={`lg:text-[.9rem] 3xl:text-[1.5rem] 4xl:text-[2rem] w-fit h-fit p-0 m-0 text-[1.2rem]`}>
        <h1 class="2xl:text-[1.8rem] text-[white] font-semibold cursor-pointer flex place-items-center">
            PULSE<span class="text-primary mr-[2%]">TECH</span>
        </h1>
    </div>
</a>

<style>
    h1 {
        letter-spacing: 2px;
    }
</style>
