---
import Logo from "./Logo.astro";
import MenuPop from "./header/MenuPop";
const { content_modal, content } = Astro.props;
const { popover_elements } = content;
---

<nav
    id="nav-bar"
    class="2xl:py-[2vh] z-50 flex justify-between px-[7vw] py-[3vh] place-items-center fixed top-0 w-screen h-fit"
>
    <Logo />
    <ul class="flex gap-x-10 place-items-center">
        <MenuPop content_modal={content_modal} client:only="react" content={popover_elements} />
    </ul>
</nav>

<style>
    h1 {
        font-size: 2rem;
    }

    @keyframes blurnav {
        20% {
            border-color: #222;
        }
        100% {
            background: rgba(0,0,0, 0.5);
            -webkit-backdrop-filter: blur(30px);
            backdrop-filter: blur(30px);
            transition: 0.3s;
        }
    }

    nav {
        animation: blurnav linear both;
        animation-timeline: scroll();
        animation-range: 0 500px;
        transition: 0.2s;
    }
</style>
