---
const { className, image, iconClass, title, paragraph } = Astro.props;
---

<div
    class={`2xl:h-fit cardContainer lg:mb-[5%] w-full h-[30vh] lg:h-fit text-white rounded-[10px] item${className} ${className > 1 && "h-[45vh]"}`}
>
    <h2>
        <span
            class="lg:h-[30px] 2xl:w-[50px] 2xl:h-[50px] lg:w-[30px] h-[38px] w-[38px] inline-flex justify-center place-items-center rounded-[8px] bg-[#232323] text-[#aaa] border border-[#2c2c2c] "
        >
            <i class={`2xl:text-[1.5rem] text-primary ${iconClass}`}></i>
        </span>
        <span class="2xl:text-[1.3rem] font-bold text-[1.2rem] lg:pl-[1.5vh] text-[#ccc] pl-[1vw] lg:text-[.9rem]">{title}</span>
    </h2>
    <p class="2xl:text-[1.1rem] lg:w-[95%] text-balance text-[#888] text-[.9rem] mt-[1vw]">{paragraph}</p>
</div>

<style>
    i {
        text-shadow: 0px 0px 30px #08c199;
    }
</style>